<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bcexplorer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BCExplorer">
        <activity
            android:name=".global.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".info.CreditsItemDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ReadMoreActivity"
            android:exported="true" />
        <activity
            android:name=".ExploreActivity"
            android:exported="true" />
        <activity
            android:name=".ListDetailActivity"
            android:exported="true" />
        <activity
            android:name=".global.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAmk2UrQDl2zrdQuT50VZBJFIGMEAikYtg" />
    </application>

</manifest>